#board {
    height: 870px;
    width: 870px;
    background-image: url("background.png");
    padding: 30px;
    display: grid;
    background-color: yellow;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 30px;
}

#board div {
    border-top-color: #c9c9c9;
    border-left-color: #c9c9c9;
    border-bottom-color: #636363;
    border-right-color: #636363;
    border-radius: 0.5em;
    border-style: solid;
    width: 150px;
    height: 150px;
    text-align: center;
    border-width: 0px;
}

#board div.level1 {
    border-width: 4px !important;
    width: 142px;
    height: 142px;
    background-color: #ffffffb2 !important;
}

#board div.level2 {
    width: 134px;
    height: 134px;
    border-width: 8px !important;
    background-color: #ffffffb2 !important;
}

#board div.level3 {
    width: 126px;
    height: 126px;
    border-width: 12px !important;
    content: "capped";
    color: #000000;
    background-color: #ffffffb2 !important;
}

#board div.level4 {
    width: 126px !important;
    height: 126px !important;
    border-width: 12px !important;
    background-color: blue !important;
    font-size: 0.3em;
    content: "capped";
}

#board div.team1 {
    background-size: contain;
    background: url("icon_team1.png") center center no-repeat;
}